/* ~MAIN~ */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --black-rgba: 0, 0, 0, 0.5;
    --white-rgba: 255, 255, 255, 0.5;
  }
}

* {
  @apply transition-colors duration-0
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }  
}

/* ~ EXTRAS ~ */
.blur{
  position: absolute;
  box-shadow: 0 0 1000px 50px #fff;
  z-index: 100;
}

/* ~SECTIONS~ */

.hero-sec {
  background: linear-gradient(rgba(0,0,0,0.5),#000000),url("./components/Images/background.gif");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: grid;
}

.features {
  min-height: 100vh;
  @apply dark:bg-black dark:text-white text-black bg-zinc-100;
}

.services {
  min-height: 100dvh;
  @apply bg-yellow-500;
}

/* ~HOME~ */

nav {
  transition: all .3s;
}

.nav-hover {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.nav-hover::after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-hover:hover::after { 
  width: 100%; 
  left: 0; 
}

.unten button {
  @apply text-white block hover:bg-white/20 backdrop-blur-lg rounded-lg p-2 border-solid border-2 border-white w-[100%]
}

.oben button {
  @apply text-white nav-hover rounded-lg p-2
}

.hero-btn {
  margin: 70px auto 0;
}

.hero-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  transition: color .5s;
}

.hero-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: .5s;
}

.hero-btn a:hover span {
  width: 100%;
}

.hero-btn a:hover{
  color: #000;
}

.hero-header {
  font-weight: 700;
  font-style: italic;
  animation: fade-up 0.5s;  
  background: rgb(234, 179, 8);
  background-size: 100% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll {
  margin-top: 30px;
}

/* FEATURES */

#feature {
  width: 100%;
  padding: 70px 0;
}

.title-text {
  text-align: center;
  padding-bottom: 70px;
}

.title-text p {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text h1 {
  font-size: 50px;
}

.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  text-align: center;
}

.featuress {
  flex-basis: 50%;
}

.features-img{
  flex-basis: 30%;
  margin: auto;
}

.features-img .img {
 width: 100%; 
}

.features #features-h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 24px;
  color: rgb(234, 179, 8);
}

.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature-icon {
  width: 50px;
  height: 50px;
  padding: 2px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 8px;
  color: rgb(234, 179, 8);
  border: 1px solid rgb(234, 179, 8);
}

.feature-text p {
  padding: 0 20px;
  text-align: initial;
}

/* ~SERVICES~ */

#services {
  width: 100%;
  padding: 70px 0;
}

.service-box {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.service-box button {
  align-items: center;
  justify-content: center;
  transition: 1s;
  @apply ease-in bg-transparent dark:hover:bg-neutral-900 hover:bg-neutral-200 dark:text-black text-white font-semibold dark:hover:text-white hover:text-black py-2 px-4 border-2 dark:border-black border-white hover:border-transparent rounded
}

.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  position: relative;

}

.single-service img {
  width: 100%;
  border-radius: 7px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5), #000);
  opacity: 1;
  transition: 1s;
}

.single-service:hover .overlay {
  opacity: 1;
}

.service-desc {
  width: 80%;
  position: absolute;
  bottom: 30%;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
  color: #fff;
}

hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}

.service-desc p {
  font-size: 14px;
}

/*footer*/

#footer {
  padding: 100px 0 20px;
  background: #111;
  position: relative;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
  text-decoration: underline;
}

.footer-row p {
  line-height: 35px;
}

.social-links {
  text-align: center;
}

/* ~PREISLISTE~ */

.dienstleistungen {
  @apply w-[100%] bg-dark text-[20px] mt-10
}

.dienstleistung {
  @apply flex place-content-between  
}

/* ~CONTACT~ */

.responsive_map {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}

.responsive_map iframe {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
}

.restext {
  @apply text-lg 
}

/* ~MEDIA QUERIES~ */

@media screen and (max-width: 1490px) {
  .service-box {
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .card {
    display: grid;
  }
}

@media screen and (max-width: 770px){
  .hero-btn h1 {
    font-size: 44px;
  }
  .hero-btn a {
    display: block;
    margin: 20px auto;
  }
  .title-text h1 {
      font-size: 35px;
  }
  .featuress {
      flex-basis: 100%;
  }
  .features-img{
      flex-basis: 100%;
  }
  .features-img Image {
      width: 75%; 
   }
   .single-service{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service .service-desc {
    bottom: 30% !important;
  } 
  .service-box {
  width: 80%;
  }
  .scroll-arrow {
    margin-bottom: 100px;
  }
  .footer-left,.footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  .footer-img {
    top: 28%;
  }
  .preisliste-heading {
    font-size: 30px;
  }
  .heading-preis-btns {
    @apply m-10
  }
  .preis-container {
    @apply w-[90dvw]
  }
  .name span{
    @apply text-[15px]
  }
  .preis span {
    @apply text-[15px] px-7 
  }
  .preis span:nth-child(3) {
    @apply text-[15px] px-0 pl-7
  }
  .stufen h1 {
    @apply text-[20px]
  }
  .blur{
    position: relative;
    box-shadow: 0 0 1000px 100px #fff;
    -webkit-box-shadow: 0 0 1000px 100px #fff;
    z-index: 100;
  }
  .cardIcon {
    @apply h-[40px] w-[40px]
  }
  .cardIcon .rspsvIcon {
    @apply text-lg
  }
  .restext {
    @apply text-sm
  }
  .standort {
    @apply my-[-20px]
  }
  .card {
    display: grid;
  }

  .card .restext {
    @apply p-10
  }
  .herotxt {
    @apply w-[90%] m-auto
  }
}



/* ~ANIMATIONS~ */

.fadeUp {
  animation: fade-up 0.5s;
}

.fade-down { 
  animation: fade-down .5s .4s backwards;
}

.hochrunter {
  animation: hoch-runter 1s infinite ease;
  transition: .5s;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes hoch-runter {
  0% {
    transform: translateY(-35px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-35px);
  }
}